body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: gray;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

p {
  font-size: 14px;
  word-break: break-word;
}

.hidden {
  display: none;
}

.user-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.user {
  width: 50%;
}

.user-card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  transition: 0.3s;
  border-radius: 10px;
}

.user-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.user-card__container {
  padding: 2px 16px;
}

.post-card {
  background-color: #fff;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.post-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.post-card__container {
  padding: 2px 16px;
}

.back-btn {
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.post {
  border: 1px solid black;
  background-color: white;
  margin: 20px;
}

.post__title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  padding: 8px;
}

.post__body {
  padding: 0 8px;
}

.post__search {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.post__search--container {
  display: flex;
  flex-direction: column;
}

.post__search--label {
  padding-right: 8px;
}

.searchbar{
  height: 32px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
  background-color: red;
}


.poster__img{
  max-width: 30%;
}

@keyframes rotate{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

.fa-spinner{
  animation: rotate 600ms infinite linear;
  color: red;
}

.input__wrap{
 position: relative;
} 

.books__loading{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-magnifying-glass{
  /* z-index: 100; */
}

.books__loading--spinner{
  display: none !important;
}
.books__loading .books__loading--spinner{
  display: block !important;
}

.books__loading .user-list{
  visibility: hidden !important;
}

button{
  cursor:pointer;
  z-index: 100;
  background-color: transparent;
  border: transparent;
}

.movie-poster{
  max-width: 300px;
  margin: 0 auto;
  border: 4px solid #fff;
}

.movie-info{
  background-color: lightgray;
  margin: 0 auto;
  padding: 16px 86px;
}


.movie-info .year{
  font-weight: 500;
}

.movie-info .rated{
  background-color: var(--yellow-color);
  padding: 0.4rem;
  margin: 0 0.4rem;
  border-radius: 3px;
  font-weight: 600;
}

.movie-info .released{
  font-size: .9rem;
  opacity: .9;
}

.movie-info .writer{
  margin: 1rem 0;
}

.movie-info .genre{
  background-color: var(--light-dark-color);
  display: inline-block;
  padding: 0.5rem;
  border-radius: 3px;
}

.movie-info .plot{
  max-width: 400px;
  margin: 1rem, 0;
}

.movie-info .language{
  color: var(--yellow-color);
  font-style: italic;
}

.movie-info .awards{
  font-weight: 300;
  font-size: 0.9rem;
}

.movie-info .awards i{
  color: var(--yellow-color);
  margin: 1rem 0.7 rem 0 0;
}

.movie-title{
  font-size: 2rem;
  color: var(--yellow-color);
}

.movie-misc-info{
  list-style-type:none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: red;
  border-radius: 28px;
}

 .result-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .navbar{
    background: red;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    
  }

  .homeButton{
    font-size: 25px;
    font-weight: 500;
    color: red;
    background-color: lightgray;
    border-radius: 14px;
    padding: 16px;
  }

.navbar_title{
  color: white;
}


  .input_div{
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .home_input{
    width: 100vh;
    height: 15px;
    padding: 16px;
    border-radius: 10px;
    border: none;
    margin: 10px;
  }

  .home_title{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 60px;
    flex-direction: column;
  }

  .home_title-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .home_title-img{
    border-radius: 24px;
  }

  .home_divider{
    height: 1px;
    width: 100%;
    background-color: black;
    padding: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .red{
    color: white;
  }

  .search_icon{
  height: 30px;
  padding-left: 5px;
  }

  .form-control{
    width: 100vh;
    height: 25px;
  }

